<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap');
            </style>
        <title>To Do List</title>
    </head>
    <body>