<%- include("header") -%> 
<link rel="stylesheet" href="styles.css">

<div class="icon">
    <span class="colossal">Study</span><span class="den">Den.</span>
</div>

<div class="tagline">Welcome to <span class="colossal">Study</span><span class="den">Den.</span></div>
<div class="minitag">Your Virtual Space.</div>   

<form action="/dashboard" method="post">
    <button class="homebutton" value="send">ENTER YOUR DEN!</button>
</form>

<%- include("footer") -%> 