a { 
  text-decoration: none;
  font-family: 'Readex Pro', sans-serif;
  color: white;
}
 a:hover{
  color: rgb(104, 205, 245);
}
html {
    
    min-height: 1000px;
    font-family: 'helvetica neue';
    background-color:  #0b1121;
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  
  .box {
    max-width: 400px;
    background: #2a3246;
    
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    color: white;
    margin-left: 60px;

  }
  
  #heading {
    background: linear-gradient(to right, #ffcc00 -25%, #ff9933 62%);
    text-align: center;
    margin-top: 300px;
    margin-left: 60px;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    color: white;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: orange;
    text-decoration-thickness: 4px;
  }
  
  input[type="checkbox"] {
    margin: 20px;
    
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    border-width: 0;
    align-items: center;
  }
  
  input[type="text"] {
    text-align: center;
    color: white;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
  }
  
  ::placeholder {
    color: white;
    opacity: 0.55;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  head{
    background-color: #00204a;
  }

  .navbar{
    height: 30px;
  }
  .body{
    background-color: #00204a;
  }
  .navbarbg{
    background: linear-gradient(to right, #ffcc00 -25%, #ff9933 62%);
  }
  .container{
    height: 80px;
    width: 100%;
    display:flex;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-basis: 100;
    padding-bottom: 20px;
  }

  .colossal{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 35;
    color: #ff6600;
    font-style: italic;
  }
  .den{
    font-size: 40px;
    font-weight: 35;
    color: rgb(60, 187, 37);
}
  .nav-title{
    position: absolute;
    padding-left: 60px;
    
  }
  
  .racist{
    color: white;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 525;
  }

  input.check{
    width: 20px;
    height: 20px;
  }

  .navbar-header{
    position: absolute;
  }

  .home{
    flex-basis: 180px;
    font-size: 20px;
  }
  .about{
    flex-basis: 180px;
    font-size: 20px;
  }
  .contact{
    flex-basis: 180px;
    font-size: 20px;
  }
 